<div class="grid grid-cols-3 feed text-left text-sm py-4" style="display: none;">
    <div>
        <a class="feed-link" href="#" target="_blank">
            <img src="{{asset 'img/github.svg'}}" alt="" class="feed-icon rounded-full">
        </a>
    </div>
    <div class="col-start-2 col-end-4">
        <a class="feed-link" href="#" target="_blank">
            <p class="feed-title text-gray-900">Lss233 pushed to master in lss233/Ghost-FutureImperfect</p>
            <time class="feed-date text-gray-800 text-xs" datetime="2021-02-17"></time>
        </a>
    </div>
</div>
<script>
    const feedSource = {
        server: 'https://lss233.com/feeds.php',
        twitter: 'lss233_',
        instagram: 'lss233_',
        github: 'lss233',
        ncm: '317570664'
    }
    const sourceIcon = {
        'twitter': 'twitter',
        'instagram': 'instagram',
        'github': 'github',
        'telegram': 'telegram',
        'ncm': 'ncm',
    }
    fetch(feedSource.server + '?' + new URLSearchParams(feedSource))
        .then(res => res.json())
        .then(res => {
            let list = document.getElementById('user-feeds');
            let template = document.getElementsByClassName('feed')[0]
            let imgBaseUrl = "{{asset 'img/'}}";
            imgBaseUrl = imgBaseUrl.substring(0, imgBaseUrl.indexOf('?'))
            for(let el of res) {
                let feed = template.cloneNode(true);
                feed.querySelector('.feed-icon').setAttribute('src', imgBaseUrl + sourceIcon[el.source] + '.svg')
                feed.querySelector('.feed-icon').setAttribute('alt', el.source)
                feed.querySelector('.feed-title').textContent = el.title
                feed.querySelector('.feed-date').setAttribute('datetime', el.date)
                feed.querySelector('.feed-date').textContent = (new Date(el.date)).toLocaleDateString('en')
                feed.querySelector('.feed-link').setAttribute('href', el.link)
                feed.style.display = 'grid';
                list.append(feed);
            }
        })
</script>