<div class="grid grid-cols-3 feed text-left text-sm py-4" style="display: none;">
    <div>
        <a class="feed-link" href="#" target="_blank">
            <img data-src="{{asset 'img/github.svg'}}" alt="" class="feed-icon rounded-full">
        </a>
    </div>
    <div class="col-start-2 col-end-4">
        <a class="feed-link" href="#" target="_blank">
            <p class="feed-title text-gray-900">Lss233 pushed to master in lss233/Ghost-FutureImperfect</p>
            <time class="feed-date text-gray-800 text-xs" datetime="2021-02-17"></time>
        </a>
    </div>
</div>
<script src="../assets/js/feed.inline.js" inline></script>