{{#foreach navigation}}
<a class="hover:bg-gray-100 focus:bg-gray-100 navbar-item {{link_class for=(url) class=(concat "navbar-" slug)}}" href="{{url absolute="true"}}" style="--tw-bg-opacity: 0.4">
    {{label}}
</a>
{{/foreach}}