.post-card {
    .post-card-excerpt{
        max-height: 77px;
        overflow: hidden;
        display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
    }
}