.kg-bookmark-card {
    width: 90%;

    @apply m-auto;
    @apply rounded-md;
    @apply shadow-md;

    @media (min-width: 768px) {
        height: 150px;
    }

    a {
        text-decoration: inherit;
    }

    .kg-bookmark-container {
        min-height: 148px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column-reverse;
        @media (min-width: 768px) {
            align-items: stretch;
            justify-content: space-between;
            flex-direction: row;
        }
        overflow: hidden;
    }
    .kg-bookmark-content {
        padding: 1rem;
        display: grid;

        .kg-bookmark-title {
            padding: 0.25rem 0;
        }
        .kg-bookmark-description {
            padding: 0.25rem 0;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;

            max-height: 48px;
            overflow-y: hidden;

            @apply text-sm;
            @apply text-gray-500;
        }
        .kg-bookmark-metadata {
            padding: 0.5rem 0;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;

            .kg-bookmark-icon {
                @apply inline-block;
                @apply rounded-full;
                @apply w-5;
                @apply h-5;
                @apply mr-2;
            }
            .kg-bookmark-author {
                @apply text-gray-600;

            }
            .kg-bookmark-publisher {
                &::before {
                    content: '@'
                }
                padding-left: 0.5rem;
            }
        }
    }
    img {
        margin: 0;
    }
    .kg-bookmark-thumbnail {
        width: 100%;
        max-width: 100%;
        @media (min-width: 768px) {
            max-width: 33%;
        }
        img {
            margin-left: auto;
            width: 100%;
            
            @media (min-width: 768px) {
                height: 152px;
                width: auto;
            }
            
        }
    }
}