.kg-bookmark-card {
    width: 90%;

    @apply m-auto;
    @apply rounded-md;
    @apply shadow-md;

    a {
        text-decoration: inherit;
    }

    .kg-bookmark-container {
        min-height: 148px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column-reverse;
        @media (min-width: 768px) {
            flex-direction: row;
        }
        overflow: hidden;
    }
    .kg-bookmark-content {
        @apply p-4;
        @apply col-start-1;
        @apply col-end-3;

        .kg-bookmark-title {
            @apply py-1;
        }
        .kg-bookmark-description {
            @apply py-1;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;

            max-height: 48px;
            @apply text-sm;
            @apply text-gray-500;
            @apply overflow-y-hidden;
        }
        .kg-bookmark-metadata {
            @apply py-2;
            .kg-bookmark-icon {
                @apply inline-block;
                @apply rounded-full;
                @apply w-5;
                @apply h-5;
                @apply mr-2;
            }
            .kg-bookmark-publisher {
                &::before {
                    content: '@'
                }
                @apply pl-2;
            }
        }
    }
    img {
        margin: 0;
    }
    .kg-bookmark-thumbnail {
        width: 100%;
        max-width: 100%;
        @media (min-width: 768px) {
            max-width: 33%;
        }
        img {
            margin-left: auto;
            
            @media (min-width: 768px) {
                max-height: 152px;
            }
            
            width: 100%;
        }
    }
}