.kg-bookmark-card {
    width: 90%;

    @apply m-auto;
    @apply rounded-md;
    @apply shadow-md;

    a {
        text-decoration: inherit;
    }

    .kg-bookmark-container {
        min-height: 148px;
        @apply overflow-hidden;

        @apply grid;
        @apply grid-cols-3;
    }
    .kg-bookmark-content {
        @apply p-4;
        @apply col-start-1;
        @apply col-end-3;
        /*
        @apply grid;
        @apply grid-rows-3;
        */

        .kg-bookmark-title {
            @apply py-1;
        }
        .kg-bookmark-description {
            @apply py-1;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;

            max-height: 48px;
            @apply text-sm;
            @apply text-gray-500;
            @apply overflow-y-hidden;
        }
        .kg-bookmark-metadata {
            @apply py-2;
            .kg-bookmark-icon {
                @apply inline-block;
                @apply rounded-full;
                @apply w-5;
                @apply h-5;
                @apply mr-2;
            }
            .kg-bookmark-publisher {
                &::before {
                    content: '@'
                }
                @apply pl-2;
            }
        }
    }
    img {
        margin: 0;
    }
    .kg-bookmark-thumbnail img {
        margin-left: auto;
        max-width: fit-content;
        max-height: 152px;
    }
}